<main class="max-w-4xl mx-auto pt-10 pb-12 px-4 lg:pb-16">
  <%= turbo_frame_tag("groups_header") do %>
    <% render partial: 'header', locals: { groups_count: @groups.size } %>
  <% end %>

  <ul role="list" class="mt-3 grid grid-cols-1 gap-5 sm:grid-cols-2 sm:gap-6 lg:grid-cols-4">
    <% @groups.each do |group| %>
      <%= turbo_frame_tag("group_#{group.id}") do %>
        <li class="col-span-1 flex rounded-md shadow-sm">
          <div class="flex flex-1 items-center justify-between rounded-md border border-gray-200 bg-white">
            <div class="flex-1 truncate px-4 py-2 text-sm">
              <a href="#" class="font-medium text-gray-900 hover:text-gray-600"><%= group.name %></a>
              <p class="text-gray-500"><%= group.activity_groups.size %> Activities</p>
            </div>
            <div data-controller="popover" class="flex-shrink-0 pr-2 relative">
              <button data-action="click->popover#toggle" data-popover-target="trigger" type="button" class="inline-flex h-8 w-8 items-center justify-center rounded-full bg-white bg-transparent text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path d="M10 3a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM10 8.5a1.5 1.5 0 110 3 1.5 1.5 0 010-3zM11.5 15.5a1.5 1.5 0 10-3 0 1.5 1.5 0 003 0z" />
                </svg>
              </button>
              <div
                data-popover-target="popover"
                data-action="click@window->popover#close"
                class="hidden bg-white absolute left-0 bottom-10 w-48 z-600 shadow-md rounded-md px-2 py-2"
              >
                <%= button_to('Delete', group, method: :delete, form: { data: { turbo_confirm: "This Group will be deleted. This action cannot be undone. Continue?" } }) %>
              </div>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</main>
