<main class="max-w-xl mx-auto pt-10 pb-12 px-4 lg:pb-16">
  <div class="flex items-center justify-between mb-3 border-b-2 pb-3">
    <h1 class="text-2xl font-semibold text-gray-900"><%= current_user.full_name %></h1>

    <div class="flex divide-x-8 divide-white">
      <% if current_user.subscription.paid? %>
        <% if current_user.subscription.cancel_at_period_end? %>
          <%= button_to 'Renew Subscription', subscription_path(current_user.subscription), method: :put, form: { data: { turbo_confirm: @subscription_presenter.renew_confirmation_text } }, class: "cursor-pointer py-1 px-2 border border-transparent rounded-md shadow-sm text-xs font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
        <% else %>
          <%= button_to 'Cancel Subscription', subscription_path(current_user.subscription), method: :put, form: { data: { turbo_confirm: @subscription_presenter.cancel_confirmation_text } }, class: "cursor-pointer py-1 px-2 border border-transparent rounded-md shadow-sm text-xs font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
        <% end %>
      <% else %>
        <%= link_to 'Upgrade to Pro', upgrade_plan_path(@pro_plan), class: "cursor-pointer py-1 px-2 border border-transparent rounded-md shadow-sm text-xs font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      <% end %>
    </div>
  </div>

  <div class="grid grid-cols-3 gap-4">
    <div class="bg-gray-100 px-8 py-4 rounded-md">
      <h1 class="text-center">Current plan</h1>
      <p class="text-2xl font-extrabold text-center"><%= @subscription_presenter.plan_level %></p>
    </div>
    <div class="bg-gray-100 px-8 py-4 rounded-md">
      <h1 class="text-center">Yearly bill</h1>
      <p class="text-2xl font-extrabold text-center"><%= @subscription_presenter.yearly_cost_dollars %></p>
    </div>
    <% if current_user.subscription.cancel_at_period_end? %>
      <div class="rounded-md bg-gray-100 px-8 py-4">
        <h1 class="text-center">Expires</h1>
        <p class="text-2xl font-extrabold text-center"><%= @subscription_presenter.expires_on %></p>
      </div>
    <% else %>
      <div class="rounded-md bg-gray-100 px-8 py-4">
        <h1 class="text-center">Renews</h1>
        <p class="text-2xl font-extrabold text-center"><%= @subscription_presenter.renews_on %></p>
      </div>
    <% end %>
  </div>
</main>
