<%= turbo_stream.replace "selected_activity" do %>
  <%= turbo_frame_tag "selected_activity" do %>
    <div
      data-map-target="selected"
      data-selected-activity="<%= @activity.to_json %>"
    >
    </div>
  <% end %>
<% end %>

<%= turbo_stream.replace "panel" do %>
  <%= turbo_frame_tag "panel" do%>
    <div class="flex-none md:block px-6 py-6 bg-white z-500 -ml-4" data-map-target="panel">
      <div class="w-96 max-w-96">
        <div>
          <div class="flex items-start justify-between">
            <div>
              <%# {activity.icon()} %>
              <span class="ml-2 text-sm text-gray-700"><%= @activity.start_date.strftime('%d-%m-%y') %></span>
            </div>
            <div class="ml-3 flex h-7 items-center">
              <%= button_to({ controller: :activities, action: :deselect }, { data: { turbo: true }, method: :put, class: "rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" }) do %>
                <span class="sr-only">Close panel</span>
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" view-box="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
              <% end %>
            </div>
          </div>
          <h2 class="text-lg font-medium text-gray-900" id="slide-over-title"><%= @activity.name %></h2>
          <% if @activity.photos.any? %>
            <div class="mt-3">
              <div class="w-full flex h-40 overflow-x-auto">
                <% @activity.photos.each do |photo| %>
                  <% next unless photo.url %>
                  <%= image_tag(photo.url, class: "flex-none object-cover w-40 h-40 hover:opacity-90 inline") %>
                <% end %>
              </div>
            </div>
          <% end %>
          <div class="flex justify-between mt-3">
            <div>
              <div>
                <span class="text-2xl"><%= (@activity.distance / 1000).round(2) %></span>
                <span class="text-md">km</span>
              </div>
              <span class="block text-gray-500 text-xs">Distance</span>
            </div>
            <div>
              <div>
                <span class="text-2xl"><%= (@activity.moving_time.to_f / 60 / 60).round(2) %></span>
                <span class="text-md">hours</span>
              </div>
              <span class="block text-gray-500 text-xs">Moving Time</span>
            </div>
            <div>
              <div>
                <span class="text-2xl"><%= @activity.total_elevation_gain %></span>
                <span class="text-md">m</span>
              </div>
              <span class="block text-gray-500 text-xs">Elevation</span>
            </div>
          </div>
          <div>
            <table class="mt-3 min-w-full divide-y divide-gray-300">
              <tbody class="bg-white">
                <tr>
                  <td class="whitespace-nowrap pr-3 text-sm font-light">Elapsed Time</td>
                  <td class="whitespace-nowrap px-2 text-sm font-medium text-gray-900">{activity.elapsedTime()}</td>
                </tr>
                <tr>
                  <td class="whitespace-nowrap pr-3 text-sm font-light">Max Speed</td>
                  <td class="whitespace-nowrap px-2 text-sm font-medium text-gray-900">{activity.maxSpeed()} <span class="text-xs font-light">km/hr</span></td>
                </tr>
                <tr>
                  <td class="whitespace-nowrap pr-3 text-sm font-light">Average Speed</td>
                  <td class="whitespace-nowrap px-2 text-sm font-medium text-gray-900">{activity.averageSpeed()} <span class="text-xs font-light">km/hr</span></td>
                </tr>
                <tr>
                  <td class="whitespace-nowrap pr-3 text-sm font-light">Max Heartrate</td>
                  <td class="whitespace-nowrap px-2 text-sm font-medium text-gray-900">{activity.maxHeartrate()} <span class="text-xs font-light">bpm</span></td>
                </tr>
                <tr>
                  <td class="whitespace-nowrap pr-3 text-sm font-light">Average Heartrate</td>
                  <td class="whitespace-nowrap px-2 text-sm font-medium text-gray-900">{activity.averageHeartrate()} <span class="text-xs font-light">bpm</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>