<% content_for :cache_control do %>
  <meta name="turbo-cache-control" content="no-cache">
<% end %>

<div class="flex flex-col flex-grow" id="filters" data-controller="map filters">
  <%= turbo_frame_tag "selected_activity" %>

  <div class="flex h-2/3 z-40">
    <div id="map" class="h-full w-full flex-1">
      <button class="shadow-md absolute mt-4 mr-4 z-500 top-0 right-0 whitespace-nowrap inline-flex items-center justify-center px-2 py-1 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-white hover:bg-gray-100 text-purple-600 font-sans">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" strokeWidth="2">
          <path strokeLinecap="round" strokeLinejoin="round" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
        </svg>
        <span class="ml-1">Refresh Activities</span>
      </button>

      <div class="absolute ml-4 mb-4 z-500 bottom-0 left-0 flex" id="filters">
        <input id="searchbar" data-filters-target="search" data-action="input->filters#search" class="shadow-md whitespace-nowrap inline-flex items-center rounded-md justify-center px-2 py-1 border border-transparent shadow-sm bg-white hover:bg-gray-100 focus:outline-none"></input>
        <%# <MultiSelect
          key={1}
          onChange={applyTypeFilters}
          class="flex items-center bg-white rounded-md ml-2 shadow-md relative"
          triggerContent={<span>Type{typesDisplayLabel()}</span>}
          options={options}
          selectedOptions={(filters.activity_types || []).map((label) => {
            return options.find((opt) => { return opt.label === label})
          })}
        /> %>
        <div data-controller="popover" class="flex items-center bg-white rounded-md ml-2 shadow-md relative">
          <div
            data-action="click->popover#toggle"
            data-popover-target="trigger"
            class="flex items-center p-2 cursor-pointer"
          >
            <button data-filters-target="typeButton">
              Type
            </button>
          </div>
          <div
            data-controller="filterableList"
            data-popover-target="popover"
            data-action="click@window->popover#close"
            class="hidden bg-white absolute left-0 bottom-10 w-48 z-600 shadow-md rounded-md px-2 py-2"
          >
            <div class="relative">
              <input class="w-full border-b border-gray-400 py-1 pl-1" data-filterableList-target="search" data-action="input->filterableList#search" type="text"></input>
              <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                  <path fillRule="evenodd" d="M10.5 3.75a6.75 6.75 0 100 13.5 6.75 6.75 0 000-13.5zM2.25 10.5a8.25 8.25 0 1114.59 5.28l4.69 4.69a.75.75 0 11-1.06 1.06l-4.69-4.69A8.25 8.25 0 012.25 10.5z" clipRule="evenodd" />
                </svg>
              </div>
            </div>
            <div class="overflow-y-scroll h-48 mt-1 px-1">
              <% @activity_types.each do |activity_type| %>
                <div data-filterableList-target="item" data-item-value="<%= activity_type %>" class="hover:text-gray-600 flex items-center">
                  <input data-action="change->filters#checkboxChanged" data-filters-target="checkbox" id="<%= activity_type.downcase %>" type="checkbox" value="<%= activity_type %>"></input>
                  <label for="<%= activity_type.downcase %>" class="w-full ml-1 cursor-pointer"><%= activity_type %></label>
                </div>
              <% end %>
            </div>
            <div class="mt-2 flex justify-between">
                <button class="hover:underline font-medium" data-action="click->filters#selectAllCheckboxes">All</button>
              <div>
                <button class="hover:underline" data-action="click->filters#clearCheckboxes">Clear</button>
                <button class="ml-2 hover:underline font-medium" data-action="click->filters#applyFilters">Apply</button>
              </div>
            </div>
          </div>
        </div>

        <button id="datepicker" class="ml-1 rounded-md shadow-md py-2 px-2 cursor-pointer bg-white">Date</button>

        <div data-controller="popover" class="flex items-center bg-white rounded-md ml-2 shadow-md relative">
          <div
            data-action="click->popover#toggle"
            data-popover-target="trigger"
            class="flex items-center p-2 cursor-pointer"
          >
            <button data-filters-target="typeButton">
              Distance
            </button>
          </div>
          <div data-popover-target="popover" data-action="click@window->popover#close" class="hidden bg-white absolute left-0 bottom-10 z-600 shadow-md rounded-md p-3 w-48">
            <%= render partial: 'shared/range_slider', locals: { label: 'Distance (km)', min: 0, max: 80, min_name: 'min_distance', max_name: 'max_distance', step: 2, decimal_places: 0 } %>
          </div>
        </div>

        <div data-controller="popover" class="flex items-center bg-white rounded-md ml-2 shadow-md relative">
          <div
            data-action="click->popover#toggle"
            data-popover-target="trigger"
            class="flex items-center p-2 cursor-pointer"
          >
            <button data-filters-target="typeButton">
              Duration
            </button>
          </div>
          <div data-popover-target="popover" data-action="click@window->popover#close" class="hidden bg-white absolute left-0 bottom-10 z-600 shadow-md rounded-md p-3 w-48">
            <%= render partial: 'shared/range_slider', locals: { label: 'Duration', min: 0, max: 6, min_name: 'min_duration', max_name: 'max_duration', step: 0.5, decimal_places: 1 } %>
          </div>
        </div>

        <%= button_tag 'Clear All', type: 'button', data: { action: 'click->filters#clearFilters' }, class: "flex items-center bg-gray-200 p-2 rounded-md ml-2 shadow-md" %>
        <%# {/*<div class="flex items-center bg-white p-2 rounded-md ml-2 shadow-md">
          <span>Distance</span>
        </div> */} %>
        <%= link_to '', activities_path, class: "", data: { filters_target: "searchButton", turbo_stream: "" } %>
      </div>
    </div>
    <%= turbo_frame_tag "panel" %>
  </div>
  <% if params[:first_login] %>
    <turbo-frame id="activities" src="/activities/import">
      <div class="z-50 relative overflow-auto h-80 max-h-80">
        <div class="flex flex-col justify-center h-full text-center">
          <div class="flex justify-center">
            <svg xmlns="http://www.w3.org/2000/svg" class="block m-auto" width="50px" height="50px" view-box="0 0 100 100" preserve-aspect-ratio="xMidYMid">
              <circle cx="50" cy="50" fill="none" stroke="#8140b6" stroke-width="10" r="35" stroke-dasharray="164.93361431346415 56.97787143782138">
                <animate-transform attribute-name="transform" type="rotate" repeat-count="indefinite" dur="1s" values="0 50 50;360 50 50" keyTimes="0;1">
                </animate-transform>
              </circle>
            </svg>
          </div>

          <span class="mt-3 block text-gray-700">Importing your activities from Strava. This may take a moment...</span>
        </div>
      </div>
    </turbo-frame>
  <% else %>   
    <%= render "activities/table" %>
  <% end %>
</div>