<!DOCTYPE html>
<html>
  <head>
    <title>Actviti</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>

    <% if content_for?(:cache_control) %>
      <%= yield :cache_control %>
    <% end %>
  </head>

  <body>
    <div class="flex flex-col h-screen">
      <% if current_user %>
        <div class="relative bg-white">
          <div class="flex justify-between items-center px-3 py-2 md:justify-start md:space-x-10">
            <div class="flex-1 flex items-center justify-between">
              <div class="flex">
                <div class="flex-shrink-0 flex items-center">
                  <svg class="h-8" version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1374.000000 312.000000" preserveAspectRatio="xMidYMid meet">
                    <g transform="translate(0.000000,312.000000) scale(0.100000,-0.100000)" stroke="none" fill="transparent">
                      <path fill="#51279B" d="M1430 2387 l-265 -132 -17 -65 c-9 -36 -34 -132 -56 -215 -178 -680
                  -264 -1017 -260 -1021 3 -2 50 11 104 31 55 20 221 79 369 131 149 52 275 100
                  281 107 6 7 19 91 28 187 45 470 87 904 96 985 13 117 12 125 -2 124 -7 0
                  -132 -60 -278 -132z" />
                      <path fill="#51279B" d="M1750 2508 c0 -20 -57 -687 -79 -928 -11 -118 -21 -248 -23 -289 l-3
                  -74 85 -32 c47 -18 171 -65 275 -105 245 -93 344 -130 351 -130 3 0 3 30 0 68
                  -15 170 -38 459 -66 826 -16 220 -33 403 -37 406 -17 15 -483 270 -492 270 -6
                  0 -11 -6 -11 -12z" />
                      <path fill="#51279B" d="M2700 2486 c-19 -13 -114 -69 -210 -125 -96 -55 -180 -104 -186 -108
                  -9 -6 -9 -33 -3 -98 5 -49 24 -274 44 -500 52 -603 60 -694 67 -700 3 -3 124
                  42 269 101 145 59 291 117 324 130 32 13 63 28 67 32 4 4 -21 123 -57 263 -35
                  139 -108 428 -162 642 -54 213 -102 387 -108 386 -5 0 -26 -11 -45 -23z" />
                      <path fill="#102A43" d="M8311 2481 c-26 -24 -31 -37 -31 -74 0 -120 160 -152 206 -41 44 105
                  -91 193 -175 115z" />
                      <path fill="#102A43" d="M10619 2495 c-56 -30 -62 -119 -13 -168 29 -29 56 -36 98 -25 87 23
                  111 125 45 187 -27 25 -90 28 -130 6z" />
                      <path fill="#102A43" d="M12601 2494 c-35 -25 -52 -74 -40 -117 22 -80 119 -105 178 -46 68
                  67 23 179 -71 179 -24 0 -54 -7 -67 -16z" />
                      <path fill="#102A43" d="M7250 2410 c-18 -18 -20 -33 -20 -195 l0 -175 -70 0 c-110 0 -148
                  -28 -127 -93 12 -36 41 -47 127 -47 l69 0 4 -322 c2 -217 7 -335 15 -360 19
                  -55 81 -142 132 -182 105 -84 316 -102 344 -31 11 30 6 62 -12 85 -15 19 -33
                  24 -104 30 -96 9 -145 34 -186 93 -34 51 -42 127 -42 420 l0 267 115 0 c163 0
                  212 25 186 93 -16 40 -41 47 -175 47 l-126 0 0 175 c0 162 -2 177 -20 195 -12
                  12 -33 20 -55 20 -22 0 -43 -8 -55 -20z" />
                      <path fill="#102A43" d="M11530 2410 c-18 -18 -20 -33 -20 -194 l0 -174 -86 -3 c-77 -4 -88
                  -7 -105 -28 -14 -17 -18 -33 -14 -50 11 -47 30 -56 120 -60 l85 -3 0 -309 c0
                  -288 1 -314 21 -372 49 -144 162 -238 307 -253 33 -4 76 -4 96 0 68 13 96 74
                  57 125 -16 21 -30 25 -105 31 -106 8 -156 37 -195 115 -26 49 -26 49 -29 357
                  l-3 308 114 0 c131 0 174 11 183 46 9 37 -3 69 -31 82 -15 7 -75 12 -145 12
                  l-120 0 0 173 c0 161 -1 175 -20 195 -27 29 -83 29 -110 2z" />
                      <path fill="#102A43" d="M4140 2074 c-104 -22 -186 -68 -265 -148 -117 -118 -168 -242 -168
                  -411 0 -51 8 -118 17 -154 105 -407 635 -550 915 -246 l41 45 0 -65 c0 -77 13
                  -110 51 -125 40 -17 76 -5 94 31 14 26 16 72 13 332 -4 279 -6 307 -26 368
                  -47 140 -146 255 -278 320 -133 67 -256 83 -394 53z m277 -152 c163 -62 264
                  -215 265 -402 3 -235 -149 -405 -380 -426 -122 -12 -258 39 -334 126 -148 166
                  -146 450 4 600 117 117 297 158 445 102z" />
                      <path fill="#102A43" d="M5880 2074 c-203 -43 -374 -204 -425 -399 -13 -50 -15 -147 -15 -603
                  l0 -543 25 -24 c13 -14 31 -25 40 -25 24 0 72 27 79 45 3 9 6 156 6 327 l0
                  310 59 -59 c278 -278 762 -156 893 225 32 95 33 266 1 367 -88 279 -373 442
                  -663 379z m201 -134 c158 -30 283 -147 324 -305 53 -203 -36 -409 -216 -499
                  -236 -118 -529 19 -588 275 -35 151 14 325 119 423 102 96 225 131 361 106z" />
                      <path fill="#102A43" d="M8355 2068 c-46 -25 -45 -15 -45 -550 l0 -509 25 -24 c30 -30 64 -32
                  99 -4 l26 20 0 515 0 515 -25 24 c-26 27 -49 31 -80 13z" />
                      <path fill="#102A43" d="M9045 2068 c-27 -14 -45 -38 -45 -60 0 -29 468 -1012 491 -1030 27
                  -23 61 -23 88 -1 21 17 478 987 482 1021 3 39 -3 52 -31 67 -40 21 -63 19 -87
                  -7 -11 -13 -104 -210 -208 -438 -104 -228 -192 -419 -195 -423 -4 -4 -96 185
                  -204 420 -109 235 -206 436 -218 446 -23 19 -44 21 -73 5z" />
                      <path fill="#102A43" d="M10644 2068 c-12 -5 -27 -21 -33 -34 -16 -36 -15 -997 1 -1027 35
                  -67 118 -59 139 12 6 24 9 205 7 523 l-3 486 -24 26 c-26 27 -52 32 -87 14z" />
                      <path fill="#102A43" d="M12640 2073 c-8 -3 -23 -12 -32 -21 -17 -14 -18 -52 -18 -529 l0
                  -514 26 -26 c20 -20 31 -24 57 -19 70 13 67 -9 67 558 l0 509 -25 24 c-23 24
                  -44 29 -75 18z" />
                    </g>
                  </svg>
                </div>
                <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
                  <%= navbar_link_to('Activities', authenticated_root_path) %>
                  <%= navbar_link_to('Account', account_index_path) %>
                </div>
              </div>
              <div class="flex items-center md:ml-12">
                <% links = [{ icon: 'cog', title: 'Account Settings', href: account_index_path }, { icon: 'logout', title: 'Log Out', href: session_destroy_path }] %>

                <% if !current_user.plan.paid? %>
                  <%= link_to 'Upgrade to Pro', upgrade_plan_path(Plan.find_by(level: 'pro')), class: "mr-2 inline-flex items-center px-2 py-1 border border-transparent shadow-sm text-sm leading-4 font-medium rounded-md text-white bg-orange-600 hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-orange-500" %>
                <% end %>

                <popover-component links="<%= links.to_json %>" />
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
