<!DOCTYPE html>
<html>
  <head>
    <title>Actviti</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin=""/>
  </head>

  <body>
    <div class="flex flex-col h-screen">
      <% if current_user %>
        <div class="relative bg-white">
          <div class="flex justify-between items-center px-3 py-2 md:justify-start md:space-x-10">
            <div class="flex-1 flex items-center justify-between">
              <div class="flex">
                <div class="flex-shrink-0 flex items-center">
                  <img class="block lg:hidden h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
                  <img class="hidden lg:block h-8 w-auto" src="https://tailwindui.com/img/logos/workflow-logo-indigo-600-mark-gray-800-text.svg" alt="Workflow">
                </div>
                <div class="hidden sm:ml-6 sm:flex sm:space-x-8">
                  <%= navbar_link_to('Activities', authenticated_root_path) %>
                  <%= navbar_link_to('Account', account_index_path) %>
                </div>
              </div>
              <div class="flex items-center md:ml-12">
                <% links = [{ icon: 'cog', title: 'Account Settings', href: account_index_path }, { icon: 'logout', title: 'Log Out', href: session_destroy_path }] %>
                <span class="mr-2"><%= current_user.full_name %></span>
                <popover-component links="<%= links.to_json %>" />
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
